.th_nombre {
  color:blue;
  background-color: rgb(175, 48, 48);
}
.th_comentario{
  color: white;
  background-color: rgb(194, 88, 88);
  margin: 0px;
  width:  63%;
  height: 50px;
  text-align: center;

}.th_comentario2{
  color: white;
  background-color: rgb(88, 125, 194);
  margin: 0px;
  width:  33%;
  height: 50px;
  text-align: center;

}
.filas{
  color: rgb(5, 0, 0);
  background-color: rgb(119, 223, 119);
  border-top: 2px dotted #151815; 
  border-radius: 2px dotted #151815;
  text-align: center; 
  width:  63%;
  height: 50px;


}.filas2{
  border-top :solid 2px #CC0000;
  border-right :solid 2px blue;
  border-bottom :solid 2px #0b630b;
  border-left :solid 2px #CCC;
  background-color: greenyellow;
  width:  33%;
  height: 50px;
  text-align: center;

}
.subtitulo{
  color: blue;
  text-decoration: chocolate;
}
.button_select {
  display: inline-block;
  border-radius: 4px;
  background-color: #4007dd;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.cartel_no_encontrado{
  color: blue;
  font-size: medium;
}
.error_ejecucion{
  color: rgb(8, 247, 20);
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.cartel_completo_div{
  background-color: rgb(53, 95, 211);
  border: solid 4px black;
}
.col1th{
  background-color: rgb(227, 120, 21);
  color: black;
  width: 50%;
  text-align: center;
}
.col2th{
 
  background-color: rgb(20, 241, 241);
  color: black;
  text-align: center;
  width: 30%;
}
.col1{
  border:solid 2px red;
  background-color: rgb(147, 115, 229);
  color: black;
  width: 50%;
  text-align: center;
}
.col2{
  border: solid 2px red;
  background-color: rgb(237, 211, 14);
  color: black;
  text-align: center;
  width: 30%;
}
.colborrarth{
  background-color: rgb(25, 201, 66);
  color: black;
  text-align: center;
  width: 20%;
}
.colborrar{
  border: solid 2px red;
  background-color: rgb(17, 16, 14);
  color: black;
  text-align: center;
  width: 20%;
}
:root {
  --color-inactivo: #5f5050;
  --color-hover: #ffa400;
}
.valoracion {
  display: flex;
  flex-direction: row-reverse;
}
.valoracion button {
  background-color: initial;
  border: 0;
  color: var(--color-inactivo);
  transition: 1s all;
}
.valoracion button:hover {
  cursor: pointer;
  color: var(--color-hover);
  transform: rotate(360deg);
}
.caja{
  margin: 100px;
  
}
.presentacion_busqueda{

   color: darkblue;
   padding: 50px;
   background-color: #30d820;
   border:solid 4px red;
}